![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/68501079-0695df00-023c-11ea-841f-455dac84a089.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

# Reading HTML tables

In this lecture we'll learn how to read and parse HTML tables from websites into a list of `DataFrame` objects to work with.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.5 kB)
Downloading lxml-5.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 5.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.1.0

In [2]:
import pandas as pd

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Parsing raw HTML strings

Another useful pandas method is `read_html()`. This method will read HTML tables from a given URL, a file-like object, or a raw string containing HTML, and return a list of `DataFrame` objects.

Let's try to read the following `html_string` into a `DataFrame`.

In [3]:
html_string = """
<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

In [4]:
dfs = pd.read_html(html_string)

The `read_html` just returned one `DataFrame` object:

In [5]:
len(dfs)

1

In [6]:
df = dfs[0]

df

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

Previous `DataFrame` looks quite similar to the raw HTML table, but now we have a `DataFrame` object, so we can apply any pandas operation we want to it.

In [7]:
df.shape

(4, 5)

In [8]:
df.loc[df['Region'] == 'Central']

  Order date   Region    Item  Units  Unit cost
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

In [9]:
df.loc[df['Units'] > 35]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

### Defining header

Pandas will automatically find the header to use thanks to the <thead> tag.
    
But in many cases we'll find wrong or incomplete tables that make the `read_html` method parse the tables in a wrong way without the proper headers.

To fix them we can use the `header` parameter.

In [10]:
html_string = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [11]:
pd.read_html(html_string)[0]

            0        1       2      3          4
0  Order date   Region    Item  Units  Unit cost
1    1/6/2018     East  Pencil     95       1.99
2   1/23/2018  Central  Binder     50      19.99
3    2/9/2018  Central  Pencil     36       4.99
4   3/15/2018     West     Pen     27      19.99

In this case, we'll need to pass the row number to use as header using the `header` parameter.

In [12]:
pd.read_html(html_string, header=0)[0]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Parsing HTML tables from the web

Now that we know how `read_html` works, go one step beyond and try to parse HTML tables directly from an URL.

To do that we'll call the `read_html` method with an URL as paramter.

### Simple example

In [13]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [14]:
nba_tables = pd.read_html(html_url)

In [15]:
len(nba_tables)

1

We'll work with the only one table found:

In [16]:
nba = nba_tables[0]

In [17]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

### Complex example

We can also use the `requests` module to get HTML code from an URL to parse it into `DataFrame` objects.

If we look at the given URL we can see multiple tables about The Simpsons TV show.

We want to keep the table with information about each season.

In [18]:
import requests

html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [19]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header=0)

In [20]:
len(wiki_tables)

47

In [26]:
simpsons = wiki_tables[2]

In [27]:
simpsons.head()

,Season,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
0,Season,Season,No. of episodes,Season premiere,Season finale,Time slot (ET),Avg. viewers (in millions),Most watched episode,Most watched episode
1,Season,Season,No. of episodes,Season premiere,Season finale,Time slot (ET),Avg. viewers (in millions),Viewers (millions),Episode title
2,1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""
3,2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6[168],"""Bart Gets an 'F'"""
4,3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5[169],"""Colonel Homer"""

Quick clean on the table: remove extra header rows and set `Season` as index.

In [28]:
simpsons.drop([0, 1], inplace=True)

In [29]:
simpsons

,Season,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
2,1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""
3,2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6[168],"""Bart Gets an 'F'"""
4,3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5[169],"""Colonel Homer"""
5,4,1992–93,22,"September 24, 1992","May 13, 1993",Thursday 8:00 pm,22.4,28.6[170],"""Lisa's First Word"""
6,5,1993–94,22,"September 30, 1993","May 19, 1994",Thursday 8:00 pm,18.9,24.0[171],"""Treehouse of Horror IV"""
7,6,1994–95,25,"September 4, 1994","May 21, 1995",Sunday 8:00 pm,15.6,22.2[172],"""Treehouse of Horror V"""
8,7,1995–96,25,"September 17, 1995","May 19, 1996",Sunday 8:00 pm (Episodes 1–24) Sunday 8:30 pm ...,15.1,22.6[173],"""Who Shot Mr. Burns? – Part II"""
9,8,1996–97,25,"October 27, 1996","May 18, 1997",Sunday 8:30 pm (Episodes 1–3) Sunday 8:00 pm (...,14.5,20.41[175],"""The Springfield Files"""
10,9,1997–98,25,"September 21, 1997","May 17, 1998",Sunday 8:00 pm,15.3,19.80[176],"""The Two Mrs. Nahasapeemapetilons"""
11,10,1998–99,23,"August 23, 1998","May 16, 1999",Sunday 8:00 pm,13.5,19.11[177],"""Sunday, Cruddy Sunday"""
12,11,1999–2000,22,"September 26, 1999","May 21, 2000",Sunday 8:00 pm,8.8,19.16[178],"""Faith Off"""
13,12,2000–01,21,"November 1, 2000","May 20, 2001",Sunday 8:00 pm,15.5,18.52[179],"""HOMR"""
14,13,2001–02,22,"November 6, 2001","May 22, 2002",Tuesday 8:30 pm (Episode 1) Sunday 8:00 pm (Ep...,12.5,14.91[180],"""The Parent Rap"""
15,14,2002–03,22,"November 3, 2002","May 18, 2003","Sunday 8:00 pm (Episodes 1–11, 13–21) Sunday 8...",14.4,22.04[181],"""I'm Spelling as Fast as I Can"""
16,15,2003–04,22,"November 2, 2003","May 23, 2004",Sunday 8:00 pm,11.0,16.30[182],"""I, (Annoyed Grunt)-Bot"""
17,16,2004–05,21,"November 7, 2004","May 15, 2005","Sunday 8:00 pm (Episodes 1–7, 9–16, 18, 20) Su...",10.2,23.07[183],"""Homer and Ned's Hail Mary Pass"""
18,17,2005–06,22,"September 11, 2005","May 21, 2006",Sunday 8:00 pm,9.55,11.66[184],"""Treehouse of Horror XVI"""
19,18,2006–07,22,"September 10, 2006","May 20, 2007",Sunday 8:00 pm,9.15,11.63[185],"""The Mook, the Chef, the Wife and Her Homer"""
20,19,2007–08,20,"September 23, 2007","May 18, 2008",Sunday 8:00 pm,8.37,11.74[186],"""Treehouse of Horror XVIII"""
21,20,2008–09,21,"September 28, 2008","May 17, 2009","Sunday 8:00 pm (Episodes 1–7, 9–21) Sunday 8:3...",7.1,12.40[187],"""Treehouse of Horror XIX"""
22,21,2009–10,23,"September 27, 2009","May 23, 2010",Sunday 8:00 pm,7.1,14.62[188],"""Once Upon a Time in Springfield"""
23,22,2010–11,22,"September 26, 2010","May 22, 2011",Sunday 8:00 pm,7.09,12.55[189],"""Moms I'd Like to Forget"""
24,23,2011–12,22,"September 25, 2011","May 20, 2012",Sunday 8:00 pm,6.15[190],11.48[191],"""The D'oh-cial Network"""
25,24,2012–13,22,"September 30, 2012","May 19, 2013",Sunday 8:00 pm (Episodes 1–21) Sunday 8:30 pm ...,5.41[192],8.97[193],"""Homer Goes to Prep School"""
26,25,2013–14,22,"September 29, 2013","May 18, 2014","Sunday 8:00 pm (Episodes 1–11, 13–22) Sunday 7...",5.02[194],12.04[195],"""Steal This Episode"""
27,26,2014–15,22,"September 28, 2014","May 17, 2015",Sunday 8:00 pm,5.61[196],10.62[197],"""The Man Who Came to Be Dinner"""
28,27,2015–16,22,"September 27, 2015","May 22, 2016",Sunday 8:00 pm,4.0[198],8.33[199],"""Teenage Mutant Milk-Caused Hurdles"""
29,28,2016–17,22,"September 25, 2016","May 21, 2017",Sunday 8:00 pm,4.80[200],8.19[201],"""Pork and Burns"""
30,29,2017–18,21,"October 1, 2017","May 20, 2018",Sunday 8:00 pm,4.07[202],8.04[203],"""Frink Gets Testy"""
31,30,2018–19,23,"September 30, 2018","May 12, 2019",Sunday 8:00 pm,3.10[204],8.20[205],"""The Girl on the Bus"""
32,31,2019–20,22,"September 29, 2019","May 17, 2020",Sunday 8:00 pm,2.58[206],5.63[207],"""Go Big or Go Homer"""
33,32,2020–21,22,"September 27, 2020","May 23, 2021","Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...",2.32[208],4.93[209],"""Treehouse of Horror XXXI"""
34,33,2021–22,22,"September 26, 2021","May 22, 2022","Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...",2.25[210],3.97[211],"""Portrait of a Lackey on Fire"""
35,34,2022–23,22,"September 25, 2022","May 21, 2023","Sunday 8:00 pm (Episodes 1–8, 10–22) Sunday 8:...",1.83[212],4.77[213],"""From Beer to Paternity"""
36,35,2023–24,TBA,"October 1, 2023","May 19, 2024[214]","Sunday 8:00 pm (Episodes 1–5, 7, 10–present) S...",TBA,TBA,TBA

In [30]:
simpsons.set_index('Season', inplace=True)

Which season has the lowest number of episodes?

In [32]:
simpsons['No. of episodes'].unique()

array(['13', '22', '24', '25', '23', '21', '20', 'TBA'], dtype=object)

In [33]:
simpsons = simpsons.loc[simpsons['No. of episodes'] != 'TBA']

In [35]:
min_season = simpsons['No. of episodes'].min()

min_season

'13'

In [36]:
simpsons.loc[simpsons['No. of episodes'] == min_season]

,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Save to CSV file

Finally save the `DataFrame` to a CSV file as we saw on previous lectures.

In [37]:
simpsons.head()

,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""
2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6[168],"""Bart Gets an 'F'"""
3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5[169],"""Colonel Homer"""
4,1992–93,22,"September 24, 1992","May 13, 1993",Thursday 8:00 pm,22.4,28.6[170],"""Lisa's First Word"""
5,1993–94,22,"September 30, 1993","May 19, 1994",Thursday 8:00 pm,18.9,24.0[171],"""Treehouse of Horror IV"""

In [38]:
simpsons.to_csv('out.csv')

In [39]:
pd.read_csv('out.csv', index_col='Season').head()

,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""
2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6[168],"""Bart Gets an 'F'"""
3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5[169],"""Colonel Homer"""
4,1992–93,22,"September 24, 1992","May 13, 1993",Thursday 8:00 pm,22.4,28.6[170],"""Lisa's First Word"""
5,1993–94,22,"September 30, 1993","May 19, 1994",Thursday 8:00 pm,18.9,24.0[171],"""Treehouse of Horror IV"""

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)